* {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;

}
#ascrail2000
{
 opacity:1!important;
 background:rgba(0, 0, 0, 0.79);
}
#ascrail2001
{
opacity:1!important;
background:rgba(0, 0, 0, 0.35);
border-radius:10px!important;

}
#ascrail2000 > div,#ascrail2001 > div
{
background: #48a3ac;
background: -moz-linear-gradient(top,  #48a3ac 0%, #017f8c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48a3ac), color-stop(100%,#017f8c));
background: -webkit-linear-gradient(top,  #48a3ac 0%,#017f8c 100%);
background: -o-linear-gradient(top,  #48a3ac 0%,#017f8c 100%);
background: -ms-linear-gradient(top,  #48a3ac 0%,#017f8c 100%);
background: linear-gradient(to bottom,  #48a3ac 0%,#017f8c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48a3ac', endColorstr='#017f8c',GradientType=0 );
width:7px!important;
border:0!important;
}
div[id^='ascrail'] { display:block; }
.mention
{
background-color: rgba(0, 0, 0, 0.55);
}
* html .X00ClearFix {
  height: 1%;
  overflow: visible;
}
#X00ContainerChat
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #303030;
  font-size: 14px;
}
select
{
 background:white;
}
html[xmlns] .X00ClearFix {
  display: block;
}
input, textarea {
  border: 2px solid #D5D5D5;
  line-height: 20px;
  
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
  
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
input:focus, textarea:focus {
  border-color: #555555;
}
input[type=text], select {
  padding: 5px;
  width: 100%;
  color: white;
  border-radius: 5px;
  border: 1px solid #fffff;
  background: rgba(0, 0, 0, 0.32);
}
textarea {
  height: 80px;
  padding: 5px;
  resize: none;
  width: 100%;
}
.X00ClearFix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.X00ClearFix {
  display: block;
}
.X00ContainerTextarea {
  position: relative;
}
.X00TextareaIcon {
  background: #F5F5F5;
  border-left: 1px solid rgba(0, 0, 0, 0.10);
  color: #A5A5A5;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 2px;
  top: 3px;
}
.X00ContainerInput {
  position: relative;
}
.X00InputIcon {
  background: #F5F5F5;
  border-left: 1px solid rgba(0, 0, 0, 0.10);
  color: #A5A5A5;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.X00Bold {
  font-weight: bold;
}
.X00Note {
  color: #909090;
  font-size: 11px;
}
.X00Button {
  background-color: #084a5c;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 7px 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.yellow_text
{
  color:#ffffff;
}
.ft_12
{
 font-size:12px;
}
.X00Button:hover {
  background-color: #48a3ac;
}
.X00Container {
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 5px;
  margin: 20px auto;
  overflow: hidden;
  width: 790px;
  -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.83);
}
.radio_lb
{
 margin-left:10px;
 margin-top:5px;
 color:#c9c9c9;
 font-weight:100;
}
.breakline
{
  margin: 0 auto;
  position:relative;
  width:80%;
  height:1px;
  background-color:#ffffff;
}
.v_breakline
{
  margin-top:30px;
  margin-left:380px;
  position:absolute;
  height:250px;
  width:1px;
  background-color:#ffffff;
}
.ft_16
{
 font-size:16px;
}
.ft_100
{
 font-weight:100;
}
.yellow_big_text
{
   color: #ffffff;
   background: -webkit-linear-gradient(#ffffff, #d3d3d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-style:italic;
}
.blue_big_text
{
   color:#ffffff;
   background: -webkit-linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-style:italic;
   text-transform:uppercase;
}
.grey_text
{
 color:#ffffff;
 font-weight:100;
}
.X00ContainerTop {
  background: rgba(0,62,76, 0.89);

  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  padding: 20px;
  position: relative;
}
.X00ContainerCenter {
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.X00CenterContainerLeft {
  float: left;
}
.X00CenterContainerRight {
  border-radius: 10px;
  float: right;
  width:49%;
  height:360px;
}
.X00ContainerBottom {
background:rgba(0,0,0, 0.75);
  padding: 20px;
}
.X00ContainerComment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.X00CommentIcon {
  border-left: 1px solid rgba(0, 0, 0, 0.10);
  color: #ffffff;
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.X00CommentHeading {
  margin-bottom: 2px;
}
.X00CommentContent {
  margin-bottom: 20px;
  width: 520px;
}
.X00CommentFooter {
  color: #909090;
  font-size: 11px;
  font-style: italic;
}
.X00Table {
  display: table;
  width: 100%;
}
.X00TableCell {
  display: table-cell;
  font-size: 11px;
  width: 1%;
}
.X00TabelCellHeading {
  padding-left: 10px;
}
#X00ContainerAdditional {
  display: none;
}
.X00SectionContent {
  margin: 5px 0px;
}
.X00SectionNote {
  font-size: 11px;
}
.X00ContainerSlider {
  position: relative;
}
.X00SliderIcon {
  border-left: 1px solid rgba(0, 0, 0, 0.10);
  padding-left: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.X00Slider {
  border:0;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.28);
  height: 7px;
  margin: 10px 0px;
}
.X00Amount {
  color: #ffffff;
  font-weight: bold;
}
.ui-slider-range
{
  background: rgb(255, 255, 255) !important;
}
.ui-slider-handle {

  cursor: pointer !important;
  height: 19px !important;
  top: -6px !important;
  width: 18px !important;
  
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
}
.blue_button
{
background: #ffffff;
background: -moz-linear-gradient(top,  #017f8c 0%, #48a3ac 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017f8c), color-stop(100%,#48a3ac));
background: -webkit-linear-gradient(top,  #017f8c 0%,#48a3ac 100%);
background: -o-linear-gradient(top,  #017f8c 0%,#48a3ac 100%);
background: -ms-linear-gradient(top,  #017f8c 0%,#48a3ac 100%);
background: linear-gradient(to bottom,  #017f8c 0%,#48a3ac 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017f8c', endColorstr='#48a3ac',GradientType=0 );
border-radius: 3px;
display: inline-block;
position: relative;
margin: 0 auto;
bottom: 58px;
border: 1px solid #ffffff;
width: 128px;
height: 30px;
color: white;
font-weight: 100;
}
.blue_button:hover{
cursor:pointer;

  -moz-box-shadow: 0px 0px 5px rgba(255, 255,255, 0.83);
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.83);
}
.blue_button:active{
  -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.83);
  
  background: #017f8c;
background: -moz-linear-gradient(top,  #017f8c 0%, #48a3ac 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017f8c), color-stop(100%,#48a3ac));
background: -webkit-linear-gradient(top,  #017f8c 0%,#48a3ac 100%);
background: -o-linear-gradient(top,  #017f8c 0%,#48a3ac 100%);
background: -ms-linear-gradient(top,  #017f8c 0%,#48a3ac 100%);
background: linear-gradient(to bottom,  #017f8c 0%,#48a3ac 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017f8c', endColorstr='#48a3ac',GradientType=0 );

}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.step_3{
display:none;
}
.blue_button_text
{
top:5px;
position:relative;
}
#X00StatusSpinnerBig
{
  border-left: 3px solid rgba(0, 0, 0, 0.32);
  border-right: 3px solid rgba(0, 0, 0, 0.32);
  border-bottom: 3px solid rgba(0, 0, 0, 0.32);
  border-top: 3px solid rgba(255, 255, 255, 0.80);
  border-radius: 100%;
  height: 32px;
  margin: 0px auto;
  position: relative;
  width: 32px;
  -webkit-animation: rotation 1.6s infinite linear;
  -moz-animation: rotation 1.6s infinite linear;
  -o-animation: rotation 1.6s infinite linear;
  animation: rotation 1.6s infinite linear;
}

}
.ui-slider-handle:hover, .ui-state-active.ui-slider-handle {
  border-color: #D5D5D5 !important;
}

.step_2_verification
{
 margin-top:20px;
 margin-left:10px;
}
.verification_image
{
 border:1px solid #033f47;
 width:70px;
 border-radius:2px;
 height:70px;
}
.verification_match_history_data
{
 border:1px solid #033f47;
 border-radius:2px;
 width:100%;
 height:190px;
}
#verification_image{width:100%;}
.verification_name
{
 text-align: center;
 position:relative;
 top:-80px;
 font-size:15px;
 background: -webkit-linear-gradient(#48a3ac, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ui-slider-handle
{
border: 1px solid #084a5c!important;
background: rgba(8,74,92, 0.78)!important;
font-weight: normal!important;
color: #555555!important;
}
#verification_name
{
color:white;
}
#verification_wins
{
 color:lime;
 font-weight:100;
 text-shadow: 1px 1px 3px #000;
}
.verification_match_history
{
  margin: 0 auto;
  position: relative;
  top: -74px;
}
.match{margin:0 auto;height:45px;width:356px;border-radius:2px;position:relative;margin-top:2px;}
.match_champion_image{height:30px;width:30px;border-radius:2px;border:1px solid #2c2d2f;position:relative;top:5px;margin-left:10px;}
.match_champion_name,.match_outcome{
border-bottom:1px dotted #000;
display:inline-block;
position: absolute;
left: 58px;
top: 12px;
  }
  .match_outcome{left: 142px!important;}
.match_font{  
color: white;
text-shadow: 1px 1px 3px #000;
}
.champ_image{position: relative;
  left: 48px;
  top: -20px;}
.match_stats{display:inline-flex;top:12px;position: absolute; float:right;left:216px;}
.win{background-color:rgba(14, 255, 0, 0.49);}
.loss{background-color:red;}
.ct{text-align:center;}
#X00ContainerStart {
}
#X00ContainerStatus {
  display: none;
}
#X00StatusText {
  margin-bottom: 10px;
  text-align: center;
  font-weight:100;
  color:#c9c9c9;
}
#X00StatusSpinner {
  border-left: 3px solid rgba(0, 0, 0, 0.32);
  border-right: 3px solid rgba(0, 0, 0, 0.32);
  border-bottom: 3px solid rgba(0, 0, 0, 0.32);
  border-top: 3px solid rgba(255, 255, 255, 0.80);
  border-radius: 100%;
  height: 32px;
  margin: 0px auto;
  position: relative;
  width: 32px;
  
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
#X00ContainerConsole {
  background: rgba(255, 255, 255, 0.20);
  border-radius: 5px;
  display: none;
  left: 50px;
  padding: 5px;
  position: absolute;
  top: 50px;
  width: 500px;
  
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
}
#X00ConsoleFrame {
  background: #FFFFFF;
  border: 1px solid #d4d0c8;
  border-bottom-color: #808080;
  border-right-color: #808080;
  padding: 2px;
}
#X00ConsoleHeading {
  background: transparent url('../images/BackgroundHeading01.png') 0px 0px repeat-y;
  border: 1px solid #d4d0c8;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
}
#X00ConsoleCenter {
  background: #000000;
  border: 1px solid #808080;
  color: #FFFFFF;
  font-size: 11px;
  padding: 5px;
}
#X00ConsoleContent {
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}
li span
{ 
position:relative;
 bottom:4px;
}
#stat_list li
{
width:20px;
 margin-left:-1px;
 display:inline-flex;
 list-style-type:none;
}
.X00LogEntry {
  font-family: 'Courier New', sans-serif;
  line-height: 15px;
}
.X00LogEntry * {
  font-family: 'Courier New', sans-serif;
  line-height: 15px;
}
#X00ContainerOverlay {
  background: rgba(0, 0, 0, 0.50);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
#X00ContainerVerification {
    display: none;
    position: relative;
    top: -630px;
    width: 460px;
    z-index: 11;
}
#X00ContainerFooter {
  color: #FFFFFF;
  font-size: 11px;
  margin: 50px auto;
  width: 550px;
}
#X00ContainerFooter1 {
  color: #FFFFFF;
  font-size: 13px;
  margin: 50px auto;
  width: 550px;
}
#X00ContainerFooter a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
#X00ContainerFooter1 a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
#X00ContainerOverlayShareLocker {
  background: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}
.ChatNotification
{
   color: #ccff01;
  font-weight: normal;
}
#X00ContainerShareLocker {
  display: none;
  left: 50%;
  margin-left: -230px;
  position: fixed;
  top: 20%;
  width: 460px;
  z-index: 1100;
}
#X00ButtonFacebook {
  margin-top: 10px;
  text-align: center;
}
#logo_bg{
margin-top:-10%; }
**//
.X00ChatEntry {
  margin-bottom: 10px;
}
.X00EntryUserName {
font-weight: normal;
  color: #017f8c ;
}
.X00EntryContent {
  margin-left: 5px;
}
#X00ContainerChat {

  color: #3b3b3b;

  position: relative;
  width: 100%;
  font-weight: normal;
}
#X00ContainerOverlay {
  background: rgba(0, 0, 0, 0.70);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
#X00ContainerChatUserName {
  border: 1px solid #ffffff;
  background: rgba(0, 0, 0, 0.88);
  display: none;
  left: 50%;
  height: 115px;
  margin: -80px 0 0 -200px;
  position: absolute;
  width:375px;
  top: 50%;
  z-index:5;
    border-radius: 2px;
}
.X00ChatEntry{margin-bottom:6px;}
#X00ChatHeading {
  background: transparent 0 0 no-repeat;
  font: normal 14px/14px 'Open Sans';
  padding-bottom: 20px;
  text-align: center;
}
#X00ContainerChatContent {
 color:white;
 font-weight:100;
}
#X00ChatContent {
  font-size: 13px;
  height: 213px;
  max-height: 200px;
  overflow-y: scroll;
  padding-bottom: 17px;
  border-bottom: 1px solid #1b3238;
}
#X00ContainerChatControls {
  padding: 20px 0 0 0;
}
#X00InputChat {
 width:520px;

}
#txInput, #X00InputChat {

  font: normal 13px/13px 'Open Sans', sans-serif;

  resize: none;

}
#chat_table {
  width: 100%;
}
#chat_table * {
  font-size: 13px;
  font-weight:none;
}
#chat_table tr td:first-child {
  padding-left: 10px;
  width: 90px;
}
.summoner_icon
{
  border-radius: 2px;
  float: left;
  position: relative;
  width: 45px;
  height: 45px;
  border: 1px solid #af9249;
  top: 7px;
  left: 10px;
}
.gold_generator
{
color:#ffffff;
border-right: 1px solid #ffffff;
padding-right:5px;
font-size:22px;
text-decoration:none;
}
.article
{
color:#ffffff;
padding-left:8px;
font-size:22px;
text-decoration:none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
a {color:#ffffff}


#center2 {
    width: 100%;
}

#social_icons {
    margin: 0 auto;
    width: 550px;
    height: 10px;
    text-align: center;
	padding-left:10px;
}


#social_icons p {
    color: #ffffff;
	text-align: center;
}
#social_icons1 p {
    color: #ffffff;
	text-align: center;
}

#social_icons ul {
    margin: 0 auto;
    list-style: none;
	display: table-cell;
	padding-left:150px;
	padding-right:150px;
}

#social_icons ul li {
    padding-right: 20px;
	padding-left:20px;
	float:right;
	
}
.hover-socials
{
	margin: 0 auto;
    width: 550px;
    height: 10px;
    text-align: center;
	padding-left:10px;
}
.hover-socials figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-socials figure:hover img {
	opacity: .5;
}
.image{
	-moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.83);
}
	