div.sticky-queue
	{ 
  -moz-box-shadow: 0px 0px 5px rgba(33, 19, 19, 0.83);
  -webkit-box-shadow: 0px 0px 5px rgba(33, 19, 19, 0.83);
  box-shadow: 0px 0px 25px rgba(33, 19, 19, 0.83);
  border: 1px solid #ffffff;
  border-radius: 2px;
  position: fixed;
  background: rgba(5, 51, 66, 0.8);
	width:250px;
	}
div.sticky-note
	{  }
div.sticky
	{
	font-size:12px;
	color:#555;
	display:none;
	position:relative;
	}
img.sticky-close
	{
	position:absolute;
	top:10px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
	}
.sticky-data-img
{
	margin-left: 7px;
	position: absolute;
	bottom: 20px;
}
.sticky-data
{
  left: 19px;
  position: relative;
  top: 3px;
}
.sticky.border-bottom-right
{

}
.sticky-data-name
{
 display:inline;
  text-shadow: 1px 1px 3px #000;
  color: white;
  font-size: 17px!important;
}
.sticky-data-region
{
  position: relative;
  top: -1px;
}
.sticky-data-recv
{

  top: -3px;
  font-size: 12px;
  color: #ffffff;
  position: relative;
}
.top-right
	{ right:20px; }
.top-left
	{ left:20px; }
.top-right, .top-left
	{
	top:-2px;
	
	}
.bottom-right
	{ right:20px; }
.bottom-left
	{ left:20px; }
.bottom-right, .bottom-left
	{
	bottom:-2px;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius:6px;
	}

.border-top-right, .border-top-left
	{ border-top:1px solid #ffffff; }
.border-bottom-right, .border-bottom-left
	{ border-bottom:1px solid  #ffffff; }